@page "/players"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;
@inject IPlayerService PlayerService;
@inject NavigationManager NavigationManager;
@inject ITeamService TeamService;
@if (ShowError)
{
    <div class="error-message">
        @ErrorMessage
    </div>
}
<h3 class="page-header">Spelers</h3>
<button class="btn btn-primary" @onclick="() => OpenAddModal()">speler toevoegen</button>
<table class="table">
    <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortedatum</th>
            <th>Team</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @if (PlayersList.Count == 0)
        {
            <tr>
                <td colspan="5" class="text-center">Geen spelers gevonden</td>
            </tr>
        }
        else
        {
            @foreach (var player in PlayersList)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.LastName</td>
                    <td>@player.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    <td>@player.Team.Name</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => GoToPlayerInfo(player.Id)">Info</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (IsAddModalOpen)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <h2>Voeg speler toe</h2>
            <form @onsubmit="SaveAddPlayer">

                <label>Voornaam:</label>
                <input type="text" @bind="AddingPlayer.FirstName" required class="form-control" /><br>

                <label>Achternaam:</label>
                <input type="text" @bind="AddingPlayer.LastName" required class="form-control" /><br>

                <label>Geboortedatum:</label>
                <input type="date" @bind="AddingPlayer.DateOfBirth" required class="form-control" /><br>

                <label>Team:</label>
                <select @bind="AddingPlayer.TeamId" class="form-control">
                    <option value="">-- Kies een team --</option>
                    @foreach (var team in Teams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                </select><br>

                <div class="button-group">
                    <button type="submit" class="btn btn-success">Opslaan</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseAddModal">Annuleren</button>
                </div>
            </form>
        </div>
    </div>
}